main>div:first-child{
	margin-top:50px;
}
/*********about***************/

/********
about大于1200px
********/
@media screen and (min-width:1200px){
	.topimg{
		height:800px;
		background: url('../images/top.jpg') no-repeat;
		background-size:100% 800px;
	}
	.astop{
		background: url('../images/bg.png');
		overflow: hidden;
		text-align: center;
		height:800px;
	}
	.topp{
		padding:50px;
	}
}
/********
about小于1200px
********/
@media screen and (max-width:1200px){
	.topimg{
		height:400px;
		background: url('../images/top.jpg') no-repeat;
		background-size:cover;
	}
	.button{
		margin-top:50px;
		margin-bottom:50px;
	}
	.topp{
		padding:20px;
	}
}
/********名人名言***********/
/********
小于992px
********/
@media screen and (max-width:992px){
	.famousfont{
		height:300px;
		font-weight: bold;
		margin-top:50px;
		font-family:'Futura-Thin55b97d8fd15dcf';
		font-size:25px;
		color:#5E493A;
		
	}
	.famousfont>span{
		font-weight: bold;
		margin-top:30px;
		font-size:20px;
		display: block;
		color:#A3A3A3;
	}
}
@media screen and (max-width:340px){
	.famousfont{
		height:400px;
	}
}
/********
大于992px
********/
@media screen and (min-width:992px){
	.famousfont{
		height:300px;
		margin-top:50px;
		font-weight: bold;
		font-family:'Futura-Thin55b97d8fd15dcf';
		font-size:40px;
		color:#5E493A;

	}
	.famousfont>span{
		font-weight: bold;
		margin-top:50px;
		margin-bottom: 50px;
		font-size:25px;
		display: block;
		color:#A3A3A3;
	}
	.ttopp{
		width:650px;
		margin:0 auto;
	}
	.fm>div{
		text-align:left;
		height:500px;
	}
	.fm>div:nth-of-type(2n)>div:first-of-type{
		padding-top:30px;
	}
	
}
.famous{
	position: relative;
	padding: 50px;
}
button:focus{
	outline:none;
}
.famousbutton{
	height:100px;
	text-align: center;
	position: absolute;
	left:20%;
	bottom:-10px;
	margin:0;
	padding: 0;
}
.famousbutton>button{
	margin-top:20px;
	margin-left:20px;
	width:15px;
	height:15px;
	border-radius:50%;
	border:0;
	background:#DDDDDD;
}
.famousbutton .active{
	width:17px !important;
	height:17px !important;
	margin-top:10px;
	margin-left:20px;
	border-radius:50%;
	border:2px solid #FA6D13;
	background: white;
}
/***********菜单详情***********/
.astop{
	background: url('../images/bg.png');
	overflow: hidden;
	text-align: center;
}
.cot{
	font-family:'Agnes-Bold55b9275c715dcf';
	font-size: 30px;
	color:white;
	margin-top:40px;
}
.cot+span:first-of-type{
	display: inline-block;
	margin-top:30px;
	width:50px;
	height:4px;
	background: #FA6D13;
}
.topp{
	font-family:'Futura-Thin55b97d8fd15dcf';
	font-size:25px;
	color:#8E847C;
	text-align: left;
}
.topp:first-letter{
	font-size:50px;
	color:white;
	font-style:italic;
}
.button{
	display: inline-block;
	font-family:'Futura-Thin55b97d8fd15dcf';
	font-size:14px;
	font-weight:bold;
	color:white;
	padding:10px 20px;
	border:2px solid #FA6D13;
	border-radius: 10px;
	transition: background .5s;
}
.button:hover{
	background:#FA6D13;
	color:white;
}
.feat{
	background: url('../images/bg.png');
	text-align:center;
}
.feat>img{
	margin-top: 50px;
}
.ttopp{
	font-family:'Futura-Thin55b97d8fd15dcf';
	font-size:25px;
	color:#8E847C;
	margin-top: 20px;
	padding:20px;
	margin-bottom: 20px
}
.featimg{
	margin-bottom: 90px;
}
.fifr{
	background: url('../images/top.jpg') center center;
	background-size: cover;
}
.figr{
	background: url('../images/feat1.jpg') center center;
	background-size: cover;
}
.fich{
	background: url('../images/feat3.jpg') center center;
	background-size: cover;
}
.fior{
	background: url('../images/feat2.jpg') center center;
	background-size: cover;
}
.fisa{
	background: url('../images/feat4.jpg') center center;
	background-size: cover;
}
.fito{
	background: url('../images/feat5.jpg') center center;
	background-size: cover;
}
.col-xs-12,
.col-sm-12,
.col-md-12,
.col-lg-12{
	padding: 0;
}
.smallcot{
	font-family:'Agnes-Bold55b9275c715dcf';
	font-size:23px;
	color:#464239;
	padding-top:20px;
}
.smallcot+span:first-of-type{
	display: inline-block;
	margin-top:10px;
	width:50px;
	height:4px;
	background: #FA6D13;
}
.featword{
	position: relative;
}
.fwfr{
	background:#FAEBCD;
}
.fwgr{
	background:#F5F5F5;
}
.moneyfont{
	font-family:'Agnes-Bold55b9275c715dcf';
	font-size:43px;
	color:#464239;
	margin-top:10px;
}
.mnefont{
	font-family: 'myfont';
	font-size:43px;
	color:#464239;
	font-style: italic;
}
.ttop{
	font-family:'Futura-Thin55b97d8fd15dcf';
	font-size:20px;
	font-weight: bold;
	color:#464239;
	margin-top:20px;
	padding:20px;
	padding-bottom:20px;
}
/********
小于768px
********/
@media screen and (max-width:768px){
	.featt{
		position: absolute;
		top:-40px;
		left:20px;
		border-top:20px solid transparent;
		border-left:20px solid transparent;
		border-right:20px solid transparent;
	}
	.secfeatt{
		position: absolute;
		top:-40px;
		left:20px;
		border-top:20px solid transparent;
		border-left:20px solid transparent;
		border-right:20px solid transparent;
	}
	.ftri{
		border-bottom:20px solid #FAEBCD;
	}
	.ftgr{
		border-bottom:20px solid #F5F5F5;
	}
	.featpic{
		height:200px;	
	}
	.upe{
		margin-left:4%;
	}
}
/********
小于992px 大于768px
********/
@media screen and (min-width:768px) and (max-width:992px){
	.featt{
		position: absolute;
		top:40px;
		left:-40px;
		border-top:20px solid transparent;
		border-left:20px solid transparent;
		border-bottom:20px solid transparent;	
	}
	.secfeatt{
		position: absolute;
		top:40px;
		left:-40px;
		border-top:20px solid transparent;
		border-left:20px solid transparent;
		border-bottom:20px solid transparent;	
	}
	.ftri{
		border-right:20px solid #FAEBCD;
	}
	.ftgr{
		border-right:20px solid #F5F5F5;
	}
	.featpic{
		height:300px;	
	}
	.featword{
		height:300px;
	}
	.featimg>div{
		padding-left:7%;
	}
	.ttopp{
		width:650px;
		margin:0 auto;
	}
}
/********
大于992px
********/
@media screen and (min-width:992px){
	.featimg>div div:nth-of-type(1){
		height:540px;
	}
	.featimg>div div:nth-of-type(2){
		height:540px;
	}
	.featimg>div div:nth-last-of-type(5){
		height:540px;
	}
	.featimg>div div:nth-last-of-type(6){
		height:540px;
	}
	.featpic{
		height:270px;	
	}
	.featword{
		height:270px;
	}
	.featt{
		position: absolute;
		top:40px;
		left:-40px;
		border-top:20px solid transparent;
		border-left:20px solid transparent;
		border-bottom:20px solid transparent;	
	}
	.secfeatt{
		position: absolute;
		top:40px;
		right:-40px;
		border-top:20px solid transparent;
		border-right:20px solid transparent;
		border-bottom:20px solid transparent;	
	}
	.featimg>div div:nth-of-type(6) .ftgr{
		border-left:20px solid #F5F5F5;
	}
	.featimg>div div:nth-of-type(2) .ftri{
		border-right:20px solid #FAEBCD;
	}
	.featimg>div div:nth-of-type(4) .ftgr{
		border-right:20px solid #F5F5F5;
	}
	.featimg>div div:nth-last-of-type(5) .ftri{
		border-right:20px solid #FAEBCD;
	}
	.featimg>div div:nth-last-of-type(1) .ftgr{
		border-right:20px solid #F5F5F5;
	}
	.featimg>div div:nth-last-of-type(3) .ftgr{
		border-left:20px solid #F5F5F5;
	}
	.upe{
        margin-left: 3%;
	}
	.upe:first-of-type{
		margin-left:10%;
	}	
}
/********
大于992px 小于1200px 
********/
@media screen and (min-width:992px) and (max-width:1200px){
	.featimg>div{
		padding-left:7%;
	}
	
}
/********
大于1200px
********/
@media screen and (min-width:1200px){
	.featimg>div{
		padding-left:1%;
		padding-right:1%;
	}
}
/**********菜品品种**********/
.charac{
	width:100%;
	background: url('../images/ad1.jpg') center center;
}
.up{
	width:100%;
	background: url('../images/ad3.jpg') center center;
}
.up>div,.charac>div{
	width:100%;
	height:100%;
	background:rgba(0,0,0,0.9);
	padding-top:50px;
	padding-bottom: 100px;
	text-align: center;
}
.type{
	width:100px;
	height:100px;
	border-radius: 50%;
	border:2px solid rgba(255,255,255,.3);
	margin:50px auto 10px auto;
	text-align:center;
}
.type>img{
	margin-top:15px;
}
.typefont{
	font-family:'Agnes-Bold55b9275c715dcf';
	font-size:40px;
	color:white;
}
.typep{
	padding:20px;
	font-family:'Futura-Thin55b97d8fd15dcf';
	font-size:22px;
	color: rgba(255,255,255,.6);
}
/**********菜单**********/
.fm{
	background: white;
	text-align: center;
	padding:50px 10px 50px 10px;
}
.fm>div{
	padding:2%;
}
.cotblack{
	color:black;
	vertical-align:bottom;
}
.fm>div{
	text-align:left;
}
.drinkimg{
	width:90%;
	float:right;
	overflow: hidden;
	border-radius:10px;
}
.col-xs-2,
.col-sm-2,
.col-md-2,
.col-lg-2,
.col-xs-3,
.col-sm-3,
.col-md-3,
.col-lg-3,
.col-xs-7,
.col-sm-7,
.col-md-7,
.col-lg-7{
	padding: 0;
}
.col-xs-7,
.col-sm-7,
.col-md-7,
.col-lg-7{
	padding-left:6px;
}
.fmtitle{
	font-family:'Agnes-Bold55b9275c715dcf';
	font-size: 18px;
}
.fmfont{
	font-family:'Futura-Thin55b97d8fd15dcf';
	font-size: 18px;
}
.fmenu>div:nth-of-type(1){
	text-align:right;
}
.fmenu>div:nth-of-type(2){
	text-align: left;
}
.fmenu>div:nth-of-type(3){
	text-align: right;
}
.fmmfont{
	font-family:'Agnes-Bold55b9275c715dcf';
	font-size:22px;
	color:#FB7B29;
}
.fmmyfont{
	font-family:'myfont';
	font-size:15px;
	color:#FB7B29;
}
.fmenu{
	padding-bottom: 15px;
	padding-top: 15px;
	border-bottom: 1px dashed #ccc;
}
.fmenu:first-of-type{
	margin-top:20px;
}
.fmenu:last-of-type{
	margin-bottom: 50px;
}
.foodbutton{
	color:#FB6E14;
}
/********events***********/
.upe{
	height:440px;
	background:white;
	padding:10px;
	text-align: center;
	margin-bottom:30px;
}
.upe>div{
	border:3px solid #E5E5E5;
	height:420px;

}
.upe>div>h1{
	font-family:'Agnes-Bold55b9275c715dcf';
	font-size:24px;
	color:#000;
	padding:20px 0px;
}
.upe>div>h2{
	font-family:'Futura-Thin55b97d8fd15dcf';
	font-size:20px;
	font-weight: bold;
	color:#7F7F7F;
}
.redline{
	display: inline-block;
	margin-top:10px;
	margin-bottom:10px;
	width:50px;
	height:4px;
	background: #FA6D13;
}
.upe>div>p{
	font-family:'Futura-Thin55b97d8fd15dcf';
	font-size:20px;
	font-weight:bold;
	color:#776659;
	margin-left:20px;
	margin-right:20px;
}
/*********联系注册**********/
.res{
	text-align: center;
	padding:40px 5%;
}
.adicon{
	text-align: left;
}
.adicon>h1{
	margin-top:30px;
}
.adicon>div{
	overflow: hidden;
	margin-top: 30px;
}
.adicon>div>span{
	font-family: 'myfont';
	font-size:20px;
	color:#5E493A;
	float:left;
	font-weight: bold;
}
.adicon>div>p{
	font-family:'Futura-Thin55b97d8fd15dcf';
	font-size: 20px;
	color:#5E493A;
	font-weight: bold;
	float:left;
	width:80%;
	margin-left:25px;
}
.adicon>div>p>a{
	font-family:'Futura-Thin55b97d8fd15dcf';
	font-size: 20px;
	color:#FB6E14;
	font-weight: bold;
}
.adicon>div>p>a:hover{
	color:#DA6D28;
	text-decoration: underline;
}
.adicon>input,.adicon>select{
	width:95%;
	height:50px;
	border:2px solid #E7E7E7;
	border-radius:3px;
	margin-top:20px;
	font-size:25px;
	text-indent:20px;
	font-family:'Futura-Thin55b97d8fd15dcf';
}
.adicon>select{
	text-indent: 14px;
}
.adicon>textarea{
	width:95%;
	height:150px;
	border:2px solid #E7E7E7;
	border-radius:3px;
	margin-top:20px;
	font-size:25px;
	text-indent:20px;
	font-family:'Futura-Thin55b97d8fd15dcf';
}
.adicon .submit{
	width:150px;
	height:40px;
	background:#FB6E14;
	color:white;
	font-size:15px;
	font-weight: bold;
	text-indent: 0;
	border-radius: 5px;
	border:0;
	transition: background .5s;
	font-family:'Futura-Thin55b97d8fd15dcf';
}
.adicon .submit:hover{
	background: #BC4B03;
}
.adicon input:focus,.adicon select:focus,.adicon textarea:focus{
	border:3px solid #FB6E14;
}
/**********尾部*********/
.bottom{
	background:#191919;
	width:100%;
	height:300px;
	font-family:'Futura-Thin55b97d8fd15dcf';
	font-size:16px;
	color:#858585;
	text-align: center;
	padding:50px 20px;
	font-weight: bold;
}
.bottom a{
	color:#FA6D13;
	transition: all .5s;
}
.bottom>a{
	display:inline-block;
	margin-top:30px;
}
.bottom a:hover{
	opacity:.6;
	text-decoration: underline;
}
.bottom>div{
	font-family: 'myfont';
	color:#FA6D13;
	font-size:30px;
	margin-top:40px;
	line-height:30px;
}
.bottom>div>a>span{
	display:inline-block;
	margin-left:20px;
}
.bottom>div>a:nth-of-type(2)>span{
	font-size:24px;
}