<ion-modal-view ng-controller="loginController">
	<ion-header-bar class="bar bar-dark">
		<h1 class="title">用户登录</h1>
		<button class="button button-positive" ng-click="closelogin()">关闭</button>
	</ion-header-bar>
	<ion-content>
		<div class="list list-inset">
		<form action="">
			<label class="item item-input"  style="font:16px/30px '微软雅黑';">
			  	<span class="icon ion-person" style="margin-right:5px;"></span>
			    <input type="text" placeholder="用户名" required="required"  ng-model="user.username">
			  </label>
			  <label class="item item-input"  style="font:18px/30px '微软雅黑';">
			  <span class="icon ion-ios-locked" style="margin-right:5px;"></span>
			    <input type="password" placeholder="密码" required="required" ng-model="user.password">
			  </label>
			</div>
			<div style="margin:2%">
				<button class="button button-block button-balanced" ng-click="loginClick()">
					登录
				</button>
				<a ng-click="regist()" class="registfont">没有账号，现在去注册<span class="icon ion-arrow-right-c"></span></a>
			</div>
		</form>
		  
		
	</ion-content>
	
</ion-modal-view>